body {
	background-color: gray;
}
button {
	height: 12vh;
	width: 18vw;
	font-size: calc(3vw + 1vh);
	text-shadow: 0 0 2px black;
	max-width: 25vw;
	max-height: 20vh;
	text-align: center;
	color: white;
	background-color: rgb(75, 0, 0);
	cursor: pointer;
}
.item {
	border: 2px solid black;
	width: 18vw;
}

input {
	margin-top: 4vh;
	width: 72vw;
	height: 13vh;
	border: 15px solid black;
	border-radius: calc(2vh + 2vw);
	font-size: calc(4vw + 3vh);
	font-weight: bold;
	text-align: right;
	background-color: black;
	color: white;
	margin-left: 5vw;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	border-radius: calc(1vh + 1vw);
	border: 12px solid black;
	margin-left: 5vw;
	margin-bottom: 5vh;
	width: 73vw;
}
main {	
	background-color: blue;
	border: 10px solid black;
	border-radius: calc(6vh + 3vw);
	width: 84vw;
	margin-left: 6vw;
}
